In [1]:
 import pandas as pd
import numpy as np
df = pd.read_csv('database.csv', encoding = "utf-8")

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
df.head()

,Record_ID,Agency_Code,Agency_Name,Agency_Type,City,State,Year,Month,Incident,Crime_Type,...,Victim_Ethnicity,Perpetrator_Sex,Perpetrator_Age,Perpetrator_Race,Perpetrator_Ethnicity,Relationship,Weapon,Victim_Count,Perpetrator_Count,Record_Source
0,1,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,January,1,Murder or Manslaughter,...,Unknown,Male,15,Native American/Alaska Native,Unknown,Acquaintance,Blunt Object,0,0,FBI
1,2,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,March,1,Murder or Manslaughter,...,Unknown,Male,42,White,Unknown,Acquaintance,Strangulation,0,0,FBI
2,3,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,March,2,Murder or Manslaughter,...,Unknown,Unknown,0,Unknown,Unknown,Unknown,Unknown,0,0,FBI
3,4,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,April,1,Murder or Manslaughter,...,Unknown,Male,42,White,Unknown,Acquaintance,Strangulation,0,0,FBI
4,5,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,April,2,Murder or Manslaughter,...,Unknown,Unknown,0,Unknown,Unknown,Unknown,Unknown,0,1,FBI

In [25]:
len(df)

638454

In [7]:
list(df.Crime_Type.unique())

['Murder or Manslaughter', 'Manslaughter by Negligence']

In [16]:
list(df.Weapon.unique())

['Blunt Object',
 'Strangulation',
 'Unknown',
 'Rifle',
 'Knife',
 'Firearm',
 'Shotgun',
 'Fall',
 'Handgun',
 'Drowning',
 'Suffocation',
 'Explosives',
 'Fire',
 'Drugs',
 'Gun',
 'Poison']

In [15]:
list(df.Victim_Ethnicity.unique())

['Unknown', 'Not Hispanic', 'Hispanic']

In [14]:
list(df.Perpetrator_Ethnicity.unique())

['Unknown', 'Not Hispanic', 'Hispanic']

In [20]:
solved = len((df[df['Crime_Solved'] == 'Yes']))

In [21]:
unsolved = len(df[df['Crime_Solved'] == 'No'])

In [23]:
solved

448172

In [24]:
unsolved

190282

In [30]:
solved / len(df)

0.7019644328330623

In [27]:
unsolved / len(df)

0.29803556716693763

In [34]:
df.Agency_Name.unique()

array(['Anchorage', 'Juneau', 'Nome', ..., 'Sp: Hundred',
       'Sheridan County', 'Sublette County'], dtype=object)

In [43]:
cities = df.City.dropna()
city_dict = {}
for city in cities:
    if city in city_dict:
        city_dict[city] += 1
    else:
        city_dict[city] = 1
city_dict

{'Anchorage': 676,
 'Juneau': 695,
 'Nome': 16,
 'Bethel': 23,
 'North Slope': 30,
 'Kenai Peninsula': 15,
 'Jefferson': 9573,
 'Mobile': 1658,
 'Montgomery': 5035,
 'Autauga': 63,
 'Baldwin': 249,
 'Barbour': 73,
 'Blount': 116,
 'Bullock': 18,
 'Butler': 606,
 'Calhoun': 825,
 'Chambers': 175,
 'Chilton': 44,
 'Choctaw': 100,
 'Clarke': 312,
 'Cleburne': 61,
 'Coffee': 224,
 'Colbert': 73,
 'Conecuh': 21,
 'Coosa': 38,
 'Covington': 99,
 'Crenshaw': 42,
 'Cullman': 51,
 'Dale': 76,
 'Dallas': 11377,
 'De Kalb': 2246,
 'Elmore': 137,
 'Escambia': 747,
 'Etowah': 249,
 'Fayette': 1024,
 'Franklin': 4793,
 'Geneva': 48,
 'Greene': 793,
 'Houston': 497,
 'Jackson': 5564,
 'Lamar': 166,
 'Lauderdale': 453,
 'Lawrence': 365,
 'Lee': 1751,
 'Limestone': 140,
 'Lowndes': 417,
 'Macon': 286,
 'Madison': 1713,
 'Marengo': 41,
 'Marion': 5241,
 'Marshall': 297,
 'Morgan': 328,
 'Perry': 285,
 'Pickens': 197,
 'Pike': 396,
 'Russell': 205,
 'St. Clair': 981,
 'Shelby': 5900,
 'Sumter': 542,
 'Talladega': 111,
 'Tallapoosa': 112,
 'Tuscaloosa': 332,
 'Walker': 236,
 'Washington': 2302,
 'Wilcox': 57,
 'Winston': 35,
 'Arkansas': 53,
 'Ashley': 76,
 'Benton': 353,
 'Boone': 304,
 'Bradley': 161,
 'Chicot': 74,
 'Clark': 5211,
 'Clay': 486,
 'Columbia': 416,
 'Conway': 49,
 'Craighead': 137,
 'Crawford': 264,
 'Crittenden': 327,
 'Drew': 49,
 'Faulkner': 105,
 'Fulton': 6503,
 'Garland': 247,
 'Grant': 370,
 'Hempstead': 58,
 'Hot Spring': 70,
 'Lafayette': 572,
 'Lincoln': 637,
 'Little River': 23,
 'Lonoke': 70,
 'Miller': 149,
 'Mississippi': 282,
 'Newton': 306,
 'Ouachita': 469,
 'Phillips': 154,
 'Poinsett': 49,
 'Polk': 1818,
 'Prairie': 16,
 'Pulaski': 2352,
 'St. Francis': 129,
 'Saline': 186,
 'Sebastian': 198,
 'Sevier': 115,
 'Union': 1474,
 'Van Buren': 168,
 'Woodruff': 14,
 'Yell': 34,
 'Cochise': 176,
 'Coconino': 156,
 'Gila': 64,
 'Graham': 30,
 'Maricopa': 8582,
 'Mohave': 348,
 'Navajo': 105,
 'Pima': 2429,
 'Pinal': 427,
 'Santa Cruz': 417,
 'Yavapai': 240,
 'Yuma': 213,
 'Alameda': 5551,
 'San Francisco': 3016,
 'Alpine': 6,
 'Butte': 330,
 'Colusa': 35,
 'Contra Costa': 2569,
 'Del Norte': 59,
 'El Dorado': 219,
 'Fresno': 2844,
 'Glenn': 36,
 'Humboldt': 312,
 'Imperial': 248,
 'Inyo': 28,
 'Kern': 2250,
 'Kings': 195,
 'Lake': 3854,
 'Lassen': 53,
 'Los Angeles': 44511,
 'Madera': 325,
 'Marin': 170,
 'Mariposa': 33,
 'Mendocino': 219,
 'Merced': 546,
 'Modoc': 25,
 'Mono': 7,
 'Monterey': 1057,
 'Napa': 114,
 'Nevada': 123,
 'Orange': 6771,
 'Placer': 208,
 'Plumas': 48,
 'Riverside': 3893,
 'Sacramento': 3416,
 'San Benito': 73,
 'San Bernardino': 5717,
 'San Diego': 5456,
 'San Joaquin': 2196,
 'San Luis Obispo': 233,
 'San Mateo': 953,
 'Santa Barbara': 445,
 'Santa Clara': 2076,
 'Shasta': 297,
 'Siskiyou': 95,
 'Solano': 854,
 'Sonoma': 511,
 'Stanislaus': 1016,
 'Sutter': 156,
 'Tehama': 105,
 'Tulare': 1201,
 'Tuolumne': 55,
 'Ventura': 1037,
 'Yolo': 248,
 'Yuba': 154,
 'Adams': 774,
 'Arapahoe': 790,
 'Alamosa': 24,
 'Archuleta': 11,
 'Boulder': 163,
 'Clear Creek': 16,
 'Crowley': 4,
 'Douglas': 1087,
 'Elbert': 57,
 'El Paso': 1992,
 'Fremont': 101,
 'La Plata': 36,
 'Larimer': 159,
 'Mesa': 149,
 'Otero': 93,
 'Park': 52,
 'Pueblo': 290,
 'Rio Blanco': 13,
 'Teller': 31,
 'Weld': 234,
 'Denver': 2365,
 'Hartford': 1444,
 'New Haven': 1569,
 'Fairfield': 1672,
 'Middlesex': 1205,
 'Tolland': 21,
 'New London': 178,
 'Windham': 40,
 'District of Columbia': 7115,
 'Kent': 1085,
 'New Castle': 826,
 'Sussex': 268,
 'Alachua': 342,
 'Baker': 51,
 'Bay': 365,
 'Bradford': 92,
 'Brevard': 667,
 'Broward': 3171,
 'Charlotte': 116,
 'Citrus': 118,
 'Collier': 377,
 'Dade': 9077,
 'De Soto': 113,
 'Dixie': 31,
 'Duval': 3337,
 'Flagler': 56,
 'Gadsden': 148,
 'Glades': 25,
 'Gulf': 14,
 'Hamilton': 3019,
 'Hardee': 57,
 'Hendry': 118,
 'Hernando': 172,
 'Highlands': 158,
 'Hillsborough': 2828,
 'Holmes': 73,
 'Indian River': 152,
 'Leon': 417,
 'Liberty': 284,
 'Manatee': 517,
 'Martin': 265,
 'Monroe': 2447,
 'Nassau': 1050,
 'Okaloosa': 163,
 'Okeechobee': 93,
 'Osceola': 277,
 'Palm Beach': 2642,
 'Pasco': 483,
 'Pinellas': 1559,
 'Putnam': 383,
 'St. Johns': 181,
 'St. Lucie': 488,
 'Santa Rosa': 111,
 'Sarasota': 398,
 'Seminole': 537,
 'Taylor': 391,
 'Volusia': 735,
 'Wakulla': 35,
 'Walton': 154,
 'Appling': 22,
 'Barrow': 60,
 'Bartow': 72,
 'Ben Hill': 44,
 'Berrien': 325,
 'Bibb': 746,
 'Bulloch': 63,
 'Burke': 230,
 'Carroll': 398,
 'Catoosa': 48,
 'Charlton': 6,
 'Chatham': 1283,
 'Chattooga': 28,
 'Cherokee': 500,
 'Clayton': 591,
 'Clinch': 26,
 'Cobb': 593,
 'Colquitt': 138,
 'Cook': 22383,
 'Coweta': 104,
 'Crisp': 83,
 'Decatur': 116,
 'Dougherty': 437,
 'Emanuel': 52,
 'Floyd': 359,
 'Gilmer': 20,
 'Glynn': 201,
 'Gordon': 52,
 'Gwinnett': 655,
 'Harris': 16331,
 'Henry': 548,
 'Jenkins': 19,
 'Laurens': 293,
 'McIntosh': 75,
 'Mitchell': 82,
 'Murray': 54,
 'Muscogee': 677,
 'Peach': 43,
 'Richmond': 3976,
 'Spalding': 185,
 'Stephens': 129,
 'Terrell': 37,
 'Thomas': 101,
 'Tift': 122,
 'Toombs': 89,
 'Troup': 154,
 'Upson': 50,
 'Ware': 103,
 'Wayne': 19904,
 'Whitfield': 120,
 'Worth': 34,
 'Hawaii': 210,
 'Honolulu': 976,
 'Kauai': 54,
 'Maui': 98,
 'Allamakee': 1,
 'Appanoose': 9,
 'Black Hawk': 106,
 'Cedar': 22,
 'Clinton': 208,
 'Des Moines': 33,
 'Dubuque': 25,
 'Iowa': 20,
 'Linn': 206,
 'Muscatine': 33,
 'Page': 32,
 'Pottawattamie': 86,
 'Poweshiek': 7,
 'Scott': 435,
 'Tama': 7,
 'Wapello': 26,
 'Woodbury': 94,
 'Ada': 211,
 'Bannock': 52,
 'Benewah': 12,
 'Bingham': 35,
 'Bonneville': 71,
 'Canyon': 140,
 'Cassia': 36,
 'Custer': 84,
 'Gem': 10,
 'Gooding': 12,
 'Kootenai': 96,
 'Minidoka': 15,
 'Owyhee': 10,
 'Power': 8,
 'Shoshone': 27,
 'Alexander': 88,
 'Bureau': 11,
 'Champaign': 102,
 'Coles': 12,
 'Will': 316,
 'DeKalb': 42,
 'De Witt': 25,
 'DuPage': 105,
 'Edgar': 5,
 'Gallatin': 35,
 'Grundy': 43,
 'Hancock': 162,
 'Kane': 240,
 'Kankakee': 128,
 'Kendall': 31,
 'Knox': 1196,
 'McHenry': 28,
 'McLean': 52,
 'Mason': 151,
 'Massac': 7,
 'Mercer': 1159,
 'Ogle': 2,
 'Peoria': 139,
 'Rock Island': 48,
 'Sangamon': 141,
 'Schuyler': 18,
 'Tazewell': 97,
 'Vermilion': 107,
 'White': 173,
 'Williamson': 244,
 'Winnebago': 477,
 'Allen': 1100,
 'Cass': 305,
 'Delaware': 1274,
 'Elkhart': 230,
 'Harrison': 832,
 'Howard': 438,
 'Johnson': 542,
 'Kosciusko': 21,
 'Porter': 80,
 'Ripley': 48,
 'St. Joseph': 669,
 'Spencer': 15,
 'Tippecanoe': 89,
 'Vanderburgh': 269,
 'Vigo': 111,
 'Wabash': 23,
 'Fountain': 8,
 'Starke': 31,
 'Atchison': 18,
 'Barton': 38,
 'Bourbon': 38,
 'Brown': 236,
 'Chautauqua': 72,
 'Cloud': 7,
 'Cowley': 23,
 'Doniphan': 3,
 'Edwards': 16,
 'Ellis': 217,
 'Finney': 56,
 'Geary': 59,
 'Greenwood': 181,
 'Labette': 16,
 'Leavenworth': 60,
 'Miami': 84,
 'Osage': 90,
 'Pratt': 5,
 'Reno': 46,
 'Riley': 47,
 'Sedgwick': 758,
 'Seward': 55,
 'Shawnee': 317,
 'Wyandotte': 688,
 'Barren': 39,
 'Bath': 22,
 'Bell': 646,
 'Boyd': 36,
 'Boyle': 23,
 'Breathitt': 42,
 'Breckinridge': 21,
 'Bullitt': 27,
 'Caldwell': 261,
 'Calloway': 18,
 'Campbell': 249,
 'Carter': 206,
 'Casey': 18,
 'Christian': 176,
 'Cumberland': 1793,
 'Daviess': 104,
 'Edmonson': 9,
 'Elliott': 16,
 'Fleming': 8,
 'Garrard': 11,
 'Graves': 37,
 'Grayson': 247,
 'Hardin': 240,
 'Harlan': 91,
 'Hart': 44,
 'Henderson': 396,
 'Hopkins': 137,
 'Jessamine': 26,
 'Kenton': 116,
 'Larue': 12,
 'Laurel': 105,
 'Leslie': 50,
 'Letcher': 35,
 'Livingston': 267,
 'Logan': 248,
 'McCracken': 125,
 'McCreary': 27,
 'Magoffin': 19,
 'Muhlenberg': 24,
 'Nelson': 61,
 'Ohio': 86,
 'Oldham': 37,
 'Pendleton': 12,
 'Powell': 20,
 'Rockcastle': 39,
 'Rowan': 320,
 'Simpson': 67,
 'Todd': 30,
 'Trigg': 9,
 'Warren': 716,
 'Webster': 216,
 'Whitley': 74,
 'Wolfe': 15,
 'Acadia': 98,
 'Ascension': 171,
 'Assumption': 43,
 'Avoyelles': 38,
 'Beauregard': 45,
 'Bossier': 235,
 'Caddo': 1693,
 'Calcasieu': 438,
 'Claiborne': 142,
 'Concordia': 36,
 'East Baton Rouge': 2472,
 'East Carroll': 36,
 'East Feliciana': 32,
 'Evangeline': 53,
 'Iberia': 103,
 'Iberville': 86,
 'Jefferson Davis': 104,
 'Lafourche': 161,
 'Morehouse': 69,
 'Natchitoches': 122,
 'Plaquemines': 56,
 'Pointe Coupee': 29,
 'Rapides': 438,
 'St. Bernard': 30,
 'St. Charles': 264,
 'St. James': 39,
 'St. John the Baptist': 134,
 'St. Landry': 153,
 'St. Mary': 138,
 'St. Tammany': 303,
 'Tangipahoa': 253,
 'Terrebonne': 254,
 'Vernon': 159,
 'West Baton Rouge': 66,
 'Winn': 18,
 'Orleans': 7903,
 'Barnstable': 107,
 'Berkshire': 46,
 'Bristol': 423,
 'Essex': 5329,
 'Hampden': 645,
 'Hampshire': 82,
 'Norfolk': 1835,
 'Plymouth': 338,
 'Suffolk': 3953,
 'Worcester': 553,
 'Allegany': 96,
 'Anne Arundel': 634,
 'Baltimore': 1113,
 'Calvert': 64,
 'Caroline': 90,
 'Cecil': 111,
 'Charles': 176,
 'Dorchester': 224,
 'Frederick': 213,
 'Garrett': 28,
 "Prince George's": 3642,
 "St. Mary's": 98,
 'Wicomico': 185,
 'Harford': 203,
 'Talbot': 65,
 'Baltimore city': 9336,
 'Androscoggin': 85,
 'Aroostook': 52,
 'Kennebec': 74,
 'Penobscot': 117,
 'Piscataquis': 17,
 'Somerset': 304,
 'Waldo': 31,
 'York': 925,
 'Alcona': 16,
 'Allegan': 60,
 'Benzie': 16,
 'Chippewa': 54,
 'Delta': 46,
 'Eaton': 42,
 'Emmet': 14,
 'Genesee': 1904,
 'Hillsdale': 35,
 'Ingham': 466,
 'Ionia': 48,
 'Iosco': 22,
 'Isabella': 35,
 'Kalamazoo': 296,
 'Lenawee': 53,
 'Macomb': 589,
 'Manistee': 18,
 'Mecosta': 20,
 'Menominee': 30,
 'Montcalm': 62,
 'Muskegon': 238,
 'Newaygo': 51,
 'Oakland': 1000,
 'Ogemaw': 26,
 'Oscoda': 13,
 'Otsego': 47,
 'Ottawa': 144,
 'Roscommon': 16,
 'Saginaw': 818,
 'Sanilac': 29,
 'Shiawassee': 30,
 'Tuscola': 30,
 'Washtenaw': 367,
 'Aitkin': 14,
 'Anoka': 113,
 'Becker': 17,
 'Beltrami': 32,
 'Blue Earth': 26,
 'Crow Wing': 28,
 'Faribault': 6,
 'Freeborn': 11,
 'Hennepin': 1898,
 'Mahnomen': 6,
 'Mille Lacs': 20,
 'Olmsted': 64,
 'Otter Tail': 30,
 'Pine': 12,
 'Ramsey': 721,
 'St. Louis': 1486,
 'Sherburne': 24,
 'Stearns': 62,
 'Winona': 18,
 'Wright': 28,
 'Bates': 23,
 'Bollinger': 11,
 'Buchanan': 190,
 'Callaway': 32,
 'Camden': 1716,
 'Cape Girardeau': 72,
 'Iron': 61,
 'Jasper': 370,
 'Laclede': 39,
 'McDonald': 27,
 'Maries': 5,
 'Pemiscot': 46,
 'Phelps': 36,
 'Platte': 68,
 'Ray': 14,
 'St. Francois': 48,
 'Texas': 47,
 'St. Louis city': 5955,
 'Alcorn': 26,
 'Attala': 47,
 'Bolivar': 69,
 'Chickasaw': 59,
 'Coahoma': 116,
 'Copiah': 22,
 'DeSoto': 75,
 'Forrest': 191,
 'Hinds': 1987,
 'Jones': 229,
 'Kemper': 6,
 'Leflore': 203,
 'Oktibbeha': 51,
 'Prentiss': 8,
 'Sunflower': 76,
 'Tate': 13,
 'Yalobusha': 26,
 'Yazoo': 39,
 'Big Horn': 22,
 'Carbon': 125,
 'Dawson': 78,
 'Lewis and Clark': 29,
 'Missoula': 56,
 'Rosebud': 5,
 'Silver Bow': 27,
 'Teton': 15,
 'Yellowstone': 123,
 'Buffalo': 23,
 'Dodge': 79,
 'Gage': 16,
 'Hall': 241,
 'Lancaster': 756,
 'Nemaha': 7,
 'Otoe': 13,
 'Scotts Bluff': 28,
 'Valley': 12,
 'Alamance': 276,
 'Anson': 126,
 'Avery': 23,
 'Beaufort': 341,
 'Bertie': 74,
 'Bladen': 127,
 'Brunswick': 180,
 'Buncombe': 370,
 'Cabarrus': 269,
 'Carteret': 76,
 'Caswell': 70,
 'Catawba': 323,
 'Cleveland': 443,
 'Columbus': 218,
 'Craven': 146,
 'Dare': 42,
 'Davidson': 3106,
 'Duplin': 183,
 'Durham': 904,
 'Edgecombe': 122,
 'Nash': 452,
 'Forsyth': 871,
 'Gaston': 510,
 'Granville': 109,
 'Guilford': 1245,
 'Halifax': 371,
 'Harnett': 253,
 'Haywood': 95,
 'Hertford': 73,
 'Hoke': 100,
 'Iredell': 212,
 'Johnston': 299,
 'Lenoir': 217,
 'McDowell': 205,
 'Mecklenburg': 2758,
 'Moore': 196,
 'New Hanover': 350,
 'Northampton': 360,
 'Onslow': 230,
 'Pasquotank': 75,
 'Perquimans': 26,
 'Person': 80,
 'Pitt': 338,
 'Randolph': 341,
 'Robeson': 694,
 'Rockingham': 375,
 'Repressed': 92,
 'Rutherford': 297,
 'Sampson': 155,
 'Scotland': 167,
 'Stanly': 94,
 'Stokes': 62,
 'Surry': 123,
 'Transylvania': 32,
 'Vance': 195,
 'Wake': 964,
 'Watauga': 39,
 'Wilkes': 146,
 'Wilson': 380,
 'Yadkin': 41,
 'Burleigh': 45,
 'Cavalier': 3,
 'McKenzie': 6,
 'Mountrail': 7,
 'Rolette': 5,
 'Williams': 28,
 'Belknap': 34,
 'Grafton': 42,
 'Merrimack': 76,
 'Strafford': 58,
 'Atlantic': 661,
 'Bergen': 421,
 'Burlington': 276,
 'Cape May': 90,
 'Gloucester': 221,
 'Hudson': 1413,
 'Hunterdon': 45,
 'Monmouth': 413,
 'Morris': 214,
 'Ocean': 261,
 'Passaic': 955,
 'Salem': 103,
 'Bernalillo': 1888,
 'Chaves': 232,
 'Curry': 116,
 'Eddy': 90,
 'Lea': 173,
 'Luna': 47,
 'McKinley': 121,
 'Quay': 19,
 'Rio Arriba': 29,
 'Roosevelt': 34,
 'Sandoval': 67,
 'San Juan': 226,
 'Santa Fe': 609,
 'Sierra': 34,
 'Torrance': 13,
 'Valencia': 97,
 'Churchill': 23,
 'Elko': 76,
 'Lyon': 97,
 'Mineral': 42,
 'Nye': 51,
 'Pershing': 15,
 'Storey': 9,
 'Washoe': 671,
 'Albany': 354,
 'Broome': 164,
 'Cattaraugus': 43,
 'Chemung': 81,
 'Chenango': 30,
 'Dutchess': 270,
 'Erie': 2193,
 'New York': 38431,
 'Niagara': 181,
 'Oneida': 305,
 'Onondaga': 617,
 'Rensselaer': 131,
 'Rockland': 161,
 'St. Lawrence': 48,
 'Saratoga': 61,
 'Schenectady': 172,
 'Steuben': 79,
 'Sullivan': 361,
 'Ulster': 156,
 'Westchester': 1005,
 'Yates': 6,
 'Herkimer': 27,
 'Oswego': 50,
 'Tioga': 56,
 'Ashtabula': 69,
 'Clermont': 92,
 'Columbiana': 34,
 'Coshocton': 21,
 'Cuyahoga': 4823,
 'Darke': 31,
 'Defiance': 15,
 'Geauga': 28,
 'Licking': 55,
 'Lorain': 220,
 'Lucas': 1151,
 'Mahoning': 1119,
 'Medina': 98,
 'Morrow': 30,
 'Muskingum': 94,
 'Paulding': 64,
 'Pickaway': 27,
 'Portage': 100,
 'Preble': 45,
 'Richland': 1338,
 'Ross': 42,
 'Sandusky': 37,
 'Scioto': 117,
 'Seneca': 37,
 'Stark': 490,
 'Summit': 847,
 'Trumbull': 214,
 'Tuscarawas': 31,
 'Van Wert': 12,
 'Vinton': 17,
 'Wood': 214,
 'Alfalfa': 3,
 'Atoka': 31,
 'Beckham': 44,
 'Blaine': 38,
 'Bryan': 91,
 'Canadian': 87,
 'Comanche': 319,
 'Cotton': 16,
 'Craig': 48,
 'Creek': 121,
 'Garfield': 132,
 'Grady': 132,
 'Greer': 17,
 'Haskell': 35,
 'Hughes': 93,
 'Kay': 61,
 'Kingfisher': 10,
 'Le Flore': 100,
 'McClain': 37,
 'McCurtain': 187,
 'Mayes': 58,
 'Muskogee': 226,
 'Nowata': 9,
 'Okfuskee': 27,
 'Oklahoma': 2788,
 'Okmulgee': 115,
 'Pawnee': 31,
 'Pittsburg': 87,
 'Pontotoc': 69,
 'Pottawatomie': 150,
 'Pushmataha': 43,
 'Roger Mills': 5,
 'Rogers': 59,
 'Sequoyah': 92,
 'Tillman': 29,
 'Tulsa': 1900,
 'Wagoner': 81,
 'Washita': 13,
 'Woodward': 25,
 'Clackamas': 262,
 'Clatsop': 36,
 'Coos': 105,
 'Deschutes': 93,
 'Josephine': 128,
 'Klamath': 138,
 'Lane': 294,
 'Malheur': 36,
 'Multnomah': 1514,
 'Tillamook': 30,
 'Umatilla': 95,
 'Wasco': 42,
 'Yamhill': 70,
 'Allegheny': 2542,
 'Armstrong': 33,
 'Beaver': 183,
 'Bedford': 160,
 'Berks': 542,
 'Blair': 92,
 'Bucks': 337,
 'Cambria': 148,
 'Centre': 57,
 'Chester': 430,
 'Clarion': 37,
 'Clearfield': 57,
 'Dauphin': 546,
 'Elk': 36,
 'Huntingdon': 47,
 'Indiana': 76,
 'Lackawanna': 121,
 'Lebanon': 101,
 'Lehigh': 453,
 'Luzerne': 369,
 'Lycoming': 77,
 'McKean': 22,
 'Northumberland': 69,
 'Schuylkill': 114,
 'Susquehanna': 40,
 'Venango': 47,
 'Westmoreland': 306,
 'Wyoming': 102,
 'Philadelphia': 12851,
 'Newport': 49,
 'Providence': 1009,
 'Abbeville': 59,
 'Aiken': 382,
 'Allendale': 55,
 'Anderson': 761,
 'Bamberg': 65,
 'Barnwell': 71,
 'Berkeley': 435,
 'Charleston': 1122,
 'Chesterfield': 441,
 'Clarendon': 124,
 'Colleton': 161,
 'Darlington': 253,
 'Dillon': 177,
 'Edgefield': 68,
 'Florence': 410,
 'Georgetown': 125,
 'Greenville': 1014,
 'Hampton': 438,
 'Horry': 599,
 'Kershaw': 113,
 'Lexington': 395,
 'McCormick': 26,
 'Marlboro': 161,
 'Newberry': 82,
 'Oconee': 142,
 'Orangeburg': 410,
 'Saluda': 51,
 'Spartanburg': 705,
 'Williamsburg': 165,
 'Pennington': 107,
 'Bledsoe': 13,
 'Cocke': 85,
 'Crockett': 42,
 'Dyer': 63,
 'Fentress': 19,
 'Gibson': 98,
 'Giles': 70,
 'Hamblen': 90,
 'Hardeman': 69,
 'Humphreys': 42,
 'Lewis': 162,
 'Loudon': 34,
 'McMinn': 81,
 'Maury': 170,
 'Meigs': 21,
 'Obion': 38,
 'Overton': 22,
 'Rhea': 36,
 'Roane': 101,
 'Robertson': 170,
 'Stewart': 21,
 'Sumner': 132,
 'Tipton': 65,
 'Weakley': 41,
 'Andrews': 24,
 'Angelina': 210,
 'San Patricio': 117,
 'Aransas': 42,
 'Atascosa': 103,
 'Austin': 43,
 'Bandera': 25,
 'Bastrop': 112,
 'Bee': 43,
 'Bexar': 5522,
 'Bosque': 23,
 'Bowie': 258,
 'Brazoria': 387,
 'Brazos': 229,
 'Brewster': 18,
 'Brooks': 53,
 'Burleson': 44,
 'Cameron': 648,
 'Camp': 28,
 'Castro': 14,
 'Childress': 8,
 'Cochran': 3,
 'Coleman': 15,
 'Collin': 303,
 'Colorado': 47,
 'Comal': 88,
 'Cooke': 67,
 'Coryell': 45,
 'Crosby': 17,
 'Denton': 290,
 'Dimmit': 33,
 'Donley': 6,
 'Eastland': 25,
 'Ector': 424,
 'Erath': 38,
 'Falls': 45,
 'Fannin': 73,
 'Fisher': 7,
 'Fort Bend': 474,
 'Gaines': 19,
 'Galveston': 797,
 'Garza': 8,
 'Gillespie': 18,
 'Gonzales': 66,
 'Gray': 57,
 'Gregg': 460,
 'Grimes': 55,
 'Guadalupe': 145,
 'Hale': 76,
 'Hays': 116,
 'Hemphill': 8,
 'Hidalgo': 1159,
 'Hill': 96,
 'Hood': 38,
 'Hudspeth': 11,
 'Hunt': 178,
 'Hutchinson': 32,
 'Jim Wells': 96,
 'Kaufman': 193,
 'Kerr': 85,
 'Kleberg': 73,
 ...}

In [46]:
maximum_location = max(city_dict, key=city_dict.get)
(maximum_location, city_dict[maximum_location])

('Los Angeles', 44511)

In [47]:
min_loc = min(city_dict, key=city_dict.get)
(min_loc, city_dict[min_loc])

('Allamakee', 1)