In [33]:
import pandas as pd
import numpy as np
df = pd.read_csv('us_mass_shootings.csv', encoding = "utf-8")

In [34]:
all = len(df)

In [35]:
all

323

In [36]:
df.head()

,S#,Title,Location,Date,Incident_Area,Open/Close Location,Target,Cause,Summary,Fatalities,...,Total victims,Policeman Killed,Age,Employeed (Y/N),Employed at,Mental Health Issues,Race,Gender,Latitude,Longitude
0,1,Texas church mass shooting,"Sutherland Springs, TX",11/5/2017,Church,Close,random,unknown,"Devin Patrick Kelley, 26, an ex-air force offi...",26,...,46,0.0,26,NaN,NaN,No,White,M,NaN,NaN
1,2,Walmart shooting in suburban Denver,"Thornton, CO",11/1/2017,Wal-Mart,Open,random,unknown,"Scott Allen Ostrem, 47, walked into a Walmart ...",3,...,3,0.0,47,NaN,NaN,No,White,M,NaN,NaN
2,3,Edgewood businees park shooting,"Edgewood, MD",10/18/2017,Remodeling Store,Close,coworkers,unknown,"Radee Labeeb Prince, 37, fatally shot three pe...",3,...,6,0.0,37,NaN,Advance Granite Store,No,Black,M,NaN,NaN
3,4,Las Vegas Strip mass shooting,"Las Vegas, NV",10/1/2017,Las Vegas Strip Concert outside Mandala Bay,Open,random,unknown,"Stephen Craig Paddock, opened fire from the 32...",59,...,585,1.0,64,NaN,NaN,Unclear,White,M,36.181271,-115.134132
4,5,San Francisco UPS shooting,"San Francisco, CA",6/14/2017,UPS facility,Close,coworkers,NaN,"Jimmy Lam, 38, fatally shot three coworkers an...",3,...,5,0.0,38,1.0,NaN,Yes,Asian,M,NaN,NaN

In [37]:
white_american = len(df[df['Race'] == 'White'])

In [38]:
white_american

9

In [39]:
black_american = len(df[df['Race'] == 'Black'])

In [40]:
black_american

5

In [41]:
white_american_european_american = len(df[df['Race'] == 'White American or European American'])
white_american_european_american

122

In [42]:
black_american_african_american = len(df[df['Race'] == 'Black American or African American'])
black_american_african_american

76

In [43]:
white = white_american + white_american_european_american
white

131

In [44]:
black = black_american + black_american_african_american
black

81

In [45]:
white/all

0.4055727554179567

In [46]:
black/all

0.25077399380804954

In [48]:
(df[df['Incident_Area']== 'Church'])

,S#,Title,Location,Date,Incident_Area,Open/Close Location,Target,Cause,Summary,Fatalities,...,Total victims,Policeman Killed,Age,Employeed (Y/N),Employed at,Mental Health Issues,Race,Gender,Latitude,Longitude
0,1,Texas church mass shooting,"Sutherland Springs, TX",11/5/2017,Church,Close,random,unknown,"Devin Patrick Kelley, 26, an ex-air force offi...",26,...,46,0.0,26,NaN,NaN,No,White,M,NaN,NaN
106,107,Charleston Church Shooting,"Charleston, South Carolina",6/17/2015,Church,Close,random,terrorism,"Dylann Storm Roof, 21, shot and killed 9 peopl...",9,...,10,0.0,21,NaN,NaN,unknown,White,Male,32.788387,-79.933143
231,232,Living Church of God,"Brookfield, Wisconsin",3/12/2005,Church,Close,random,frustration,"On March 12, 2005, a 44-year-old computer tech...",8,...,11,0.0,44,NaN,NaN,No,White American or European American,Male,43.063967,-88.122998
246,247,Wedgwood Baptist Church,"Fort Worth, Texas",9/15/1999,Church,Close,random,terrorism,"steven Kazmierczak, 27, opened fire in a lectu...",8,...,14,0.0,47,NaN,NaN,Yes,White American or European American,Male,32.748021,-97.313051
320,321,St. Aloysius Church,"Spokane, Washington",11/11/1971,Church,Close,random,terrorism,"On November 11, 1971, a former MIT student ent...",2,...,5,0.0,NaN,NaN,NaN,Yes,White American or European American,Male,47.673674,-117.415984

In [ ]:
incidents = df.Incident_Area
incident_dict = {}
for incident in incidents:
    if incident in incident_dict:
        incident_dict[incident] += 1
    else:
        incident_dict[incident] = 1
incident_dict